@if(expenses.length > 0) {
  <table>
    <tr>
      <th>Descrição</th>
      <th>Categoria</th>
      <th>Data</th>
      <th>Valor</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>
    @for(expense of expenses; track $index){
      <tr>
        <td>{{ expense.description | truncate:40:true }}</td>
        <td class="category">
          <div>
            <img src="assets/images/alimentacao.svg" height="12" width="12" alt="">
            {{ expense.category }}
          </div>
        </td>
        <td>{{ expense.date | date: 'dd/MM/yyyy' }}</td>
        <td>
          <div class="value">
            {{ expense.value | currency: 'BRL' }}
          </div>
        </td>
        <td>
          <div [ngClass]="expense.paid_out ? 'paid' : 'unpaid'">
            {{ expense.paid_out ? 'Pago' : 'Não pago' }}
          </div>
        </td>
        <td>
          <button class="options" (click)="openModalEditExpense(expense)">
            <img src="assets/images/edit.svg" alt="">
          </button>
          <button class="options" (click)="openModalDeleteExpense(expense.id!)">
            <img src="assets/images/delete.svg" alt="">
          </button>
        </td>
      </tr>
    }
    
  </table>

} @else {
  <div class="empty">
    <div class="circle">
      <img src="assets/images/empty.svg" alt="">
    </div>

    <h2>Nenhuma despesa criada</h2>
    <p>No momento, você não possui despesas registradas. <br>Adicione uma nova despesa para começar a acompanhar seus gastos.</p>
    
    <app-button text="Adicionar despesa" [secundary]="true" (click)="openModalExpense()"></app-button>
  </div>
}
