@import '../../../core/styles/variables.scss';

.btn {
  font: 700 0.75rem 'Poppins';
  background-color: $w1;
  text-transform: uppercase;
  padding: 12px 24px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  display: inline-flex;
  gap: 12px;
  align-items: center;
  color: $g4;
}

.btn-secundary {
  color: $w1;
  background-color: inherit;
  border: 1px solid $g2;
}

.btn-delete {
  border: none;
  padding: 11px 24px;
  color: $w0;
  background-color: #dc2626;
}
