@import '../../../core/styles/variables.scss';

.btn {
  font: 700 0.75rem 'Poppins';
  background-color: $w0;
  text-transform: uppercase;
  padding: 12px 24px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.btn-secundary {
  color: $w0;
  background-color: inherit;
  border: 1px solid $g2;
}