<section class="forgot">
  <div class="image-side">
  </div>
  <div class="content">
    <div>
      <app-header-auth title="Esqueceu a senha" subtitle="Solicitar mudança de senha via e-mail"></app-header-auth>
      <form class="form" action="">
        <div>
          <label for="email">E-mail</label>
          <input type="email" name="" id="" placeholder="Digite o e-email cadastrado">
        </div>
        <app-button text="Recuperar senha"></app-button>
        <a class="back-login" routerLink="/auth/login">
          <img class="voltar" src="assets/images/seta-back.svg" alt="voltar para login">
          Voltar para login
        </a>
      </form>
    </div>
  </div>
</section>
